.introContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    padding: 2%;
    text-align: center;;
}


#introHeader {
    font-family: 'Montserrat';
    font-size:20px;
    margin-top:30px;
}

#forgetText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat';
    font-size:20px;
    padding: 2%;
}

.bringList {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    padding-bottom: 20px;
}

#toBring {
    font-family: 'Montserrat';
    font-size: 20px;
    margin-bottom: 5px;
}

#footer {

    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;;
}