

#introHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    font-family: 'Montserrat';
    font-size: 30px;
}

#forgetText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat';
}


.bringList {

    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;

    
}

#toBring {

    font-family: 'Montserrat';
    font-size: 30px;
}


#footer {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 30px;

}


#link {

    text-decoration: none;
    
}