.introContainer {
    padding: 1.5%;
    text-align: center;
}

#secondHeader {
    font-family: 'Montserrat';
    font-size: 20px;
    margin-top: 30px;
}

#forgetText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 20px;
    padding: 2%;
    border-top: thin inset;
    color: #ff01a2;
}

.bringList {
    display: flex;
    flex-direction: column;
}

#toBring {
    font-family: 'Montserrat';
    font-size: 20px;
    margin-bottom: 5px;
    list-style-type: square;
}

#footer {
    font-family: 'Montserrat';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #ff01a2;
}

.checkIcon {
    color: #d5068d;
    padding-top: 15px;
}

#firstHeader {
    color: #d5068d;
    font-weight: bold;
    font-size: 20px;
}

.confirmButton {
    width: 200px;
    background-color: #ff01a2;
    color: #fafafa;
    height: 40px;
    font-weight: bold;
    border: none;
    /* margin-left: 15px; */
    /* margin-bottom: 20px; */
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px auto ;

}

.bookTaxiButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
   
}

.bookTaxiButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff01a2;
    color: #fafafa;
    font-weight: bold;
    border: none;
    box-shadow: 5px 10px 18px #888888;
    height: 80px;
    
}

#backArrowVer {
    width: 80px;
    height: 80px;

}

