.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.card {
  padding: 50px;
}

.title {
  font-weight: bold;
}

.input {
  margin-top: 20px !important;
  width: 100%;
}

.button {
  margin-top: 20px !important;
  width: 100%;
}
