.headerRow {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    border-radius: 15px;
    margin-top: 20px;

}



.headerEntries {

    width: 33.3%;
    font-family: 'Montserrat';
    font-size: 18px;

}