.component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.padding {
  padding: 40px;
}

.header_underline {
  width: 100%;
  margin: auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--donor-light-gray), rgba(0, 0, 0, 0));
}
