.headerRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    margin-top: 20px;
    width: 95%;
    margin-left: 5px;
    border: 2px solid #c3b7b1;
    height: 6vh;
}


  .headerEntries {
    margin-bottom: 10px;
    font-size: 18px;
    width: 25%;
}



.rowContainer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-radius: 15px;
    height: 6vh;
    width: 95%;
    box-shadow: black 1px 1px 2.5px;
    background-color: #c3b7b1;
    margin-top: 10px;
    margin-left: 5px;
  }


  .rowClass {
    color: #fafafa;
    font-size: 18px;
   
}




.cancelButton {
    background-color: #C71585;
    color: white;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;


    
}

.registerButton {

    background-color: #C71585;
    color: white;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin-top: 4px;

}

.introSpan {
    padding-right: 2%;
    padding-left: 2%;
    text-align: center;
}

.hospitalsOptionsContainer {
    margin-top: 10px;
}

.schedulesTables th {

    margin-top: 10px;
}

.schedulesTables td {
    margin-top: 7px;
 
}

.schedulesTables {
    width: 100%;
    color: #212529;
}

.dashboardView {
    text-align: center;
    padding-top: 10px;
}



#introSpan {
    font-size: 20px;
}

.lineUnderSpan {
    border: 1px inset;
    width: 100%;
    margin-top: 10px;
}

.userEligibility {
    margin-top: 10px;
    font-size: 20px;
}

.hospitalsOptionsList {
    width: 30vw;
    background-color: #C3B7B1;
    border-radius: 4px;
}

.bottomButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.btnContainer {

    margin-top: 3px;
}