
.pinkBox {
    border: solid #d5068d 1px;
    margin: 4% 6%;
    color: gray;
    text-align: right;
    padding-right: 2%;
    padding-left: 2%;
}

.highlight {
    color: #d5068d;
}

.pageTitle {
    font-size: 18px;;
}

.hospitalsOptionsList {
    width: 30vw;
    height: 100%;;
    color: white;
    background-color: darkgray;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;

}

.hospital {
    padding: 0% 2%;
}

.hospitalsOptionsContainer {
    margin-top: 10px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}


.schedulesTables {
    width: 88%;
    margin: 6%;
}





.headerRow {
    text-align: center;
    background-color: darkgray;
    height: 10vh;
    color:white;
    font-size: 14px;
}


  .headerEntries {
    margin-bottom: 10px;
    width: 25%;
    border: solid white 2px;
}




.rowContainer {
    text-align: center;
    background-color: lightgray;
    height: 10vh;
    color:black;
    font-size: 14px;

  }


  .rowClass {

    margin-bottom: 10px;
    width: 25%;
    border: solid white 2px;
   
}




.cancelButton {
    background-color: #C71585;
    color: white;
    border: none;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;



    
}

.registerButton {

    background-color: #C71585;
    color: white;
    border: none;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;


}

.introSpan {

    font-size: 16px;
}



.schedulesTables th {

    margin-top: 10px;
}

.schedulesTables td {
    margin-top: 7px;
 
}



.dashboardView {
    text-align: center;
    padding-top: 10px;
}




.userEligibility {
    margin-top: 10px;
    font-size: 20px;
}



.bottomButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.btnContainerCancel {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    

}