.component {
  height: 100%;
}

.content {
  padding: var(--layout-distance-large);
}
.dropdownTitle {
  font-size: var(--text-size-md);
  font-family: var(--font-family-titles);
  margin-bottom: var(--layout-distance-large);
}
.dropdown {
  width: 100%;
}
