.resetButtonContainer {
  margin-top: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.resetPasswordButton {
  background: transparent;
  border: 0px;
  font-size: 16px;
}

.resetPasswordButton:hover,
.resetPasswordButton:active {
  text-decoration: underline;
}
