* {
  box-sizing: border-box;
}

.title {
  line-height: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 24px;
  font-size: 32px;
}

.screenSection {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.notRegisteredContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: right;
  margin-left: auto;
  margin-top: -4px;
}

.notRegisteredTitle {
  margin: 0px 4px;
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
}

.alreadyRegistered {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
