* {
  box-sizing: border-box;
}

.title {
  line-height: 100%;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 32px;
}

.screenSection {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.inputTitleAndField {
  background-color: #eceaea;
  margin-bottom: 16px;
  padding-top: 8px;
  border-radius: 8px 8px 0px 0px;
}

.inputField {
  display: block;
  height: 32px;
  text-align: center;
  font-size: 20px;
  width: 100%;
  padding-bottom: 8px;
  background-color: inherit;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-color: dimgrey;
}

.inputField:focus {
  outline: none;
}

.password {
  margin-top: 20px;
  margin-bottom: 20px;
}

.signinButton {
  font-size: 16px;
  width: 100%;
  display: block;
  height: 48px;
  background-color: #c7007d;
  margin-top: 16px;

  border-radius: 16px 16px 16px 16px;
  color: antiquewhite;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.signinButton:hover,
.signinButton:active {
  text-decoration: underline;
}

.notRegisteredContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  text-align: right;
  margin-left: auto;
}

.notRegisteredTitle {
  margin: 0px 4px;
  display: inline-block;
  line-height: 24px;
  font-size: 16px;
}

.connectButton {
  margin: 0px 4px;
  height: 24px;
  border-width: 0px;
  padding: 0px;
  font-size: 16px;
  background-color: inherit;
  font-weight: bold;
  color: #c7007d;
  border-radius: 16px;
}

.connectButton:hover,
.connectButton:active {
  text-decoration: underline;
  text-decoration-color: #c7007d;
}
