button.zm-btn {
  background: var(--color-primary) !important;
  transition: all .1s ease !important;
  &:hover {
    opacity: 0.9;
    transform: translateY(-3px);
  }
  &:active {
    transform: translateY(-1px);
  }
}
