.userPage {

    font-size: 16px;
    text-align: start;
    width: 88%;
    margin: 6%;
    color: gray;
    /*height: 100%;*/
}

.userImage {

    text-align: center;
  
}

.pinkMessageBox {
    border: solid #d5068d 1px;
    margin: 4% 6%;
    color: gray;
    padding-right: 2%;
    padding-left: 2%;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #000000;
}

.line1 {
    border: 1px solid #000000;
}


.icon,
.data,
.editBtn {
    display: flex;
    flex-direction: row;
    transition: linear 0.1s;
}

.icon {
    font-size: 30px;
    margin: 10px;
}