@import "../../styles/mixins";

$header_height: var(--height-header, 100px);

.navBar {
  background: var(--color-statusbar-bg);
  color: var(--color-statusbar-text);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: $header_height;
  @media only screen and (max-width: var(--width-phone-landscape)) {
    display: block;
    height: auto;
  }
}

.logoContainer {
  padding: 0 var(--layout-distance-normal);
  box-sizing: border-box;
  height: 100%;
  @media only screen and (max-width: var(--width-phone-landscape)) {
    display: block;
  }
}
.logo {
  height: 100%;
  width: auto;
  right: var(--layout-distance-large);
}

.buttons {
  flex-grow: 1;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

.mainButtons {
  margin: auto;
}

.buttons button {
  //all: unset !important;
  background: var(--color-statusbar-bg) !important;
  border-width: 0;
  box-shadow: none !important;
  padding: var(--layout-distance-small) !important;
}

.buttons > button:hover,
.buttons > button:active {
  text-decoration: underline solid white;
}

.selected__tab {
  text-decoration: underline solid white !important;
}

.disconnect {
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 58px;
}
