@import "../../styles/mixins";

$header_height: var(--height-header, 100px);

.navBar {
  background: var(--color-statusbar-bg);
  color: var(--color-statusbar-text);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: $header_height;
}

.logoContainer {
  padding: 0 var(--layout-distance-normal);
  box-sizing: border-box;
  height: 100%;
}
.logo {
  height: 100%;
  width: auto;
  right: var(--layout-distance-large);
}

.buttons {
  flex-grow: 1;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

.buttons > * {
  all: unset !important;
  padding: var(--layout-distance-small) !important;
}

.selected__tab {
  background: rgba($color: #b8b6b6, $alpha: 0.2) !important;
  border-bottom: 5px solid white !important;
}
