.component{
  padding: var(--layout-distance-large);
  box-sizing: border-box;
}

.welcomeText {
  display: flex;
}
.dateText {
  font-family: var(--font-family-titles);
  font-weight: var(--font-content-weight-bolder);
}
