.pickerLabel {
  margin-bottom: 5px;
  margin-inline-start: 5px;
  color: var(--donor-dark-gray);
  font-size: 16px;
}

.pickerButtons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.pickerButtonContainer {
  margin: 5px;
}

.pickerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 44px;
  color: var(--donor-dark-gray);
  border: 1px solid var(--donor-light-gray);
  border-radius: 4px;
}

.selectedButton {
  min-width: 78px;
  height: 42px;
  color: var(--donor-primary);
  font-weight: bold;
  border: 2px solid var(--donor-primary);
  background-color: var(--donor-selected-green);
}

.storyBloodTypeButton {
  direction: ltr;
}
