.pickerLabel {
  margin-bottom: 5px;
  margin-inline-start: 5px;
  color: var(--color-info);
  font-size: 20px;
}

.pickerButtons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.pickerButtonContainer {
  margin: 5px;
  min-width: 80px;
}

.pickerButton {
}

.storyBloodTypeButton {
  direction: ltr;
}
