.component {
  background-color: var(--color-card-bg);
  color: var(--color-card-text);
  box-shadow: var(--shadow-normal);
  padding: var(--layout-distance-normal);
  box-sizing: border-box;
  border-radius: 5px;
}
