.infoBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: white;
}

.titleContent {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.icon {
  margin-right: 20px;
}

.values {
  font-weight: bold;
}
