
.btnContainer {

    display: flex;
    justify-content : center;
    align-items: center;
}

#btn {

    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    border-radius: 50px ;
    height: 48px ;
    width : 170px;
    background-color: #DEB675;
    border:  none;
    color : #fafafa;
    box-shadow: 5px 10px 18px #888888;
    font-family: 'Montserrat';
    font-size: 18px;
    outline : none;
}



#btn:hover , #btn:focus , #btn:active {

    transform: scale(1.1);
    
    
}
