.component {
  display: flex;
  justify-content: space-between;

  font-family: var(--font-family-titles);
  user-select: none;
}

.registerText {
  color: var(--color-primary);
  height: 100%;
  cursor: pointer;
}
