.full-width {
  width: 100%;
}

.component {
  width: 100%;
  display: flex;
  max-height: 85vh;
  flex-direction: column;
  justify-content: stretch;
}

.header {
  background-color: var(--color-light-grey);
  padding-inline-end: calc(48px + var(--layout-distance-normal));
  padding-inline-start: var(--layout-distance-normal);
}

.body {
  overflow-y: auto;
}

.group {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cell {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
}

.header-cell {
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}

.header-cell-active {
  font-weight: bold;
  color: var(--color-primary);
}
