.full-width {
  width: 100%;
}

.component {
  width: 100%;
  display: flex;
  max-height: 85vh;
  flex-direction: column;
  justify-content: stretch;
  overflow-x: auto;
}

.body {
  overflow-y: auto;
  @media only screen and (max-width: 700px) {
    width: max-content;
  }
}

.group {
  width: 100%;
}

.row {
  @media only screen and (max-width: 700px) {
    width: max-content;
  }
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.cell {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
  padding: 0 1rem;
}

.header-cell {
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}

.header-cell-active {
  font-weight: bold;
  color: var(--color-primary);
}
