.full-width {
  width: 100%;
}

.component {
  width: 100%;
  display: flex;
  max-height: 70vh;
  flex-direction: column;
  justify-content: stretch;
}

.header {
  background-color: var(--color-light-grey);
  padding-inline-end: calc(48px + 16px);
  padding-inline-start: 16px;
}

.body {
  overflow-y: auto;
}

.group {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cell {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
}
