.screen-grey-background {
  background-color: var(--color-light-grey);
}

.centered-screen {
  width: 80%;
  margin: 0 auto;
}

.phone-cell {
  width: "max-content";
  margin: "0 30%";
}

.booked-at-date {
  text-align: center;
}

.hospital_picker_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
}
