.screen-grey-background {
  background-color: var(--color-light-grey);
}

.centered-screen {
  width: 90%;
  margin: 0 auto;
}

.phone-cell {
  width: "max-content";
  margin: "0 30%";
}

.booked-at-date {
  text-align: center;
}
