.Unsubscribed {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 7px solid;
    border-color: var(--donor-light-pink);
    height: 100%;
    margin: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--donor-dark-gray);
    padding-left: 40px;
    padding-right: 40px;

    .UpperContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 50%;

        .Goodbye {
            font-size: 48px;
            font-weight: 500;
        }

        .Success {
            overflow-wrap: break-word;
            text-align: center;
            vertical-align: middle;
        }
    }

    .FooterContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;

        .Regret {
            font-weight: 500;
        }

        .Renew {
            font-size: 14px;
        }
    }
}