.component {
  all: unset;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.icon {
  margin-bottom: 5px;
}

.titleSection {
  font-family: var(--font-family-titles);
  text-align: center;
  line-height: var(--font-line-height-small);
}
