.donationsPage {

    text-align: left;
    padding: 4%;
    }
    
    .title {
        font-family: Montserrat, arial;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        padding-top: 2%;
        padding-bottom: 2%;
        color: #000000;
    }
    
    .line1 {
    border: 1px solid #000000;
    }