@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
  outline: none;
  font-family: 'Montserrat';
}
.App {
  text-align: center;
}

.header {

  height: 90px;
  background-color:inherit;
}

.footer {
display:block;
height: 80px;
background-color:inherit;
margin-top: 10px;
}



a:link {
  text-decoration: none;
  color: inherit;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: inherit;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: inherit;
}

/* selected link */
a:active {
  text-decoration: none;
  color: inherit;
}