@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
  user-select: none;
  outline: none;
}
.App {
  text-align: center;
}

.header {

  height: 57px;
  background-color: pink;;
}

.footer {


}