@import url(https://fonts.googleapis.com/css?family=Montserrat);

*{
  user-select: none;
  outline: none;
  font-family: 'Montserrat';
}
.App {
  text-align: center;
}

.header {

  height: 57px;
  background-color:inherit;
}

.footer {
display:block;
height: 80px;
background-color:inherit;;
}
