hr {
  width: 90%;
}

.popupText {
  text-align: center;
}

.popupContainer {
  font-size: 16px;
  margin: 16px;
}

.approveButton {
  width: 104px;
  height: 48px;
  font-size: 16px !important;
  font-weight: bold !important;
}

.backButton {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #fff !important;
}

.flashMessageContainer {
  z-index: 100;
  position: fixed;
  bottom: 50px;
  left: 5%;
}

.flashMessage {
  background: #555555;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}
