.content {
  height: calc(100% - var(--height-header) - var(--height-footer));
}

$footer_height: var(--height-footer, 30px);

.footer {
  color: var(--color-mid-grey);
  align-self: flex-end;
  height: $footer_height;
  position: absolute;
  bottom: 0;
  left: 2px;
  font-size: 14px;
}
