.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}

#register-logo {
  height: 150px;
  width: 150px;
} 

#header1, #header2 {
  font-family: 'Montserrat';
  font-size: 30px;
}

.registerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameSignupContainer, .emailSignupContainer, .passwordSignupContainer, .confirmPasswordSignupContainer,
 .phoneSignupContainer, .citySignupContainer , .genderContainer, 
 .secondaryAddressSignupContainer,
.addressSignupContainer, .bloodTypesContainer , .organizationContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #fafafa;
}

.ltrFormClass{
  direction: ltr;
  text-align: left;
}


.rtlFormClass{
  direction: rtl;
  text-align: right;
}

label {
  font-family: 'Montserrat';
}



.registerName , .registerPassword , .registerEmail , .registerPhone ,
.registerCity , .registerAddress, .registerBloodType , .registerConfirmPassword, .registerGenderType , 
.registerSecondaryAddress, .registerOrganization {
  display: flex;
  background-color: #ecf8e4;
  margin-left: 35px;
  padding-left: 5px;
  border: none;
  width: 200px;
}


.birthDateContainer {

  display: flex;
  justify-content: center;
  align-items: center;

}


.birthDate{
  direction: ltr !important;
}

.react-date-picker__wrapper {

  background-color: #ecf8e4;
  width: 200px;
  margin-left: 35px !important;
  border: none !important; 

}



.react-date-picker__inputGroup__input {

padding: 0 0 0 0 !important;

margin-left: 1px !important;


}

.react-date-picker__inputGroup ::placeholder {

  color : black !important

}

.madaLabelContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #fafafa;
}


.notificationsTitle {

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

#notificationsSpan {

  display: flex;
  justify-content: center;
  align-items: center;

}

li {

  list-style-type: none;
}

.optionsContainer {

  width : 50vw;
  margin-left: 30%;
}


.react-date-picker__clear-button  {

  outline: none !important;
}


.react-date-picker__calendar-button {

  outline: none !important;
}


.react-date-picker__inputGroup__input:invalid {

  background: none !important;
}
.modal-content1 {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  background: grey;
  border-radius: 5px;
  position: relative;
}
.modelbutt{
  display: flex;
  justify-content: center;
 margin-left: 300px;  
 border-radius: 10px;
 background-color: #ff01a2;
  
}


.signUpButton {

  width: 300px;
  background-color: #ff01a2;
  color: #fafafa;
  height: 70px;
  font-weight: bold;
  border: none;
  
}



.signUpButtonContainer {


  display: flex;
  justify-content: center;
  align-items: center;


}