.container {
  margin: 30px;
  direction: rtl;
  text-align: center;
}

.image {
  height: 100px;
  margin-bottom: 20px;
}

.popupText {
  font-size: 16px;
  text-align: center;
  white-space: pre-line;
}

.popupTextTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.approveButton {
  width: 104px;
  height: 48px;
  font-size: 16px !important;
  font-weight: bold !important;
}

.backButton {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #fff !important;
}

.buttonContainer {
  margin-top: 20px;
}
