
.pinkBox {
    border: solid #d5068d 1px;
    margin: 4% 6%;
    color: gray;
    text-align: start;
    padding-right: 2%;
    padding-left: 2%;
}

.highlight {
    color: #d5068d;
}

.pageTitle {
    font-size: 18px;;
}

.introSpan {
    font-size: 16px;
}
