.logo {
  margin: auto;
  padding-top: 25vh;
  animation: pulsate 2.5s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulsate {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
