.logoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.large {
  height: 250px;
  width: 250px;
}

.medium {
  height: 200px;
  width: 200px;
}

.small {
  height: 150px;
  width: 150px;
}
