.appHeader {
  border-bottom: 1px solid var(--color-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 64px;
}

.title {
  flex: 1;
  text-align: center;
  font-size: 16pt;
  color: var(--color-secondary);
  position: fixed;
  width: 100%;
}

.logoImage {
  padding-top: 8px;
}

.rightButton {
  z-index: 10;
}

.listItem {
  min-width: 50vw;
}

.version {
  margin-top: auto;
  font-size: 14px;
  text-align: center;
}
