.headerContainer {
  height: 60px;
  padding: 0 1rem;
  display: grid;
  grid-template-columns:
    [first] 10%
    [second] 10%
    [middle] auto
    [forth] 10%
    [fifth] 10%;
}

.title {
  height: 100%;
  grid-column: middle;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

.rightButton {
  color: white;
}

.listItem {
  min-width: 50vw;
}
