.onAirTable {
  width: 88%;
  margin: 6%;
}

.onAirHeadRow {
  text-align: center;
  height: 10vh;
  color:white;
  font-size: 14px;
}

.onAirHeadField {
  background-color: darkgray;
  margin-bottom: 10px;
  border: solid white 2px;
}

.arrowField {
  width: 30px;
}

.onAirRow {
  text-align: center;
  height: 10vh;
  color:black;
  font-size: 14px;
}

.onAirRowField {
  background-color: lightgray;
  margin-bottom: 10px;
  border: solid white 2px;
}


.arrowButton {
  height: 25px;
  width: 25px;
}

.donors {
  background-color: rgba(199, 234, 175, 0.651);
  border: solid white 2px;
}

.donorItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto/*10px 0px*/;
    width: fit-content;
    font-size: 16px;
    /*background-color:   rgba(199, 234, 175, 0.651);*/
    color: gray;
    min-height: 50px;
}

.donorField {
    background-color: rgba(236, 248, 228, 0.65);
    /*width: 20%;*/
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d5068d;
    min-height: 50px;
}

.verified {
  color: rgba(0, 255, 0, 1);
}

.notVerified {
  color: #d5068d;
}

.deleteButton {
  background-color: #C71585;
  color: white;
  border: none;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}
