
.forgotPassContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.emailFieldForgot{
    width: 80vw;
    margin: 3vh 0 3vh 0;
}

.emailSentVideo{
    opacity: 0.25;
}

.forgotPassForm{
    text-align: center;
    padding-top: 2vh;

}

.lockPic{
    height:12vh ;
}

.btnContainer{
    display: flex;
    padding-top: 6vh;
}