.component {
  font-size: var(--text-size-sm);
  text-align: center;
}

.textBold {
  font-weight: var(--font-content-weight-bold);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.contentLine {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.contact {
  display: block;
  height: 100%;
  width: 100%;
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.underline {
  text-decoration: underline;
  color: blue;
}

.phonelink {
  direction: ltr;
}
