.content {
  height: 100%;
  padding: 0 30px;

  display: grid;
  gap: 25px;
}

.content .buttons {
  display: grid;
  gap: 10px;
}

.subtitle {
  color: var(--coordinator-primary);
  font-weight: 500;
  margin-top: 20px;
}
