@import "../../styles/variables.scss";

.donationInfo {
  text-align: center;
}

.donationInfoTitle {
  display: inline-block;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 1rem;
}

.questionnaireSection {
}

.questionnaireTitle {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
}

.question {
  margin: 20px 0;
}

.notesText {
  margin: 8px 0;
  font-size: 0.9rem;
}

.confirmButtonContainer {
  margin-bottom: 8px;
}

.pickerButton {
  width: 30vw;
}
