@import "../../styles/variables.scss";

body {
  overflow: auto !important;
}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  color: var(--color-white);
  height: 56px;
}

.headerTitle {
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
}

.donationInfo {
  text-align: center;
  padding: 16px;
  background-color: var(--color-light-grey);
  width: 100%;
}

.donationInfoTitle {
  display: inline-block;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 1rem;
}

.questionnaireSection {
  padding: 20px;
}

.questionnaireTitle {
  font-size: 1rem;
  font-weight: bold;
}

.question {
  margin: 20px 0px;
}

.confirmButtonContainer {
  margin-bottom: 8px;
}

.continueButton {
  width: 25%;
}
