.container {
  text-align: center;
  color: #515151;
}

.image {
  max-height: 200px;
}

.title {
  color: #4caf50;
  font-size: 32px;
  font-weight: bold;
  margin: 16px 0;
}

.content {
  margin: 0 46px 0 46px;
  line-height: 24px;
}

.link {
  margin-top: 5px;
  font-weight: normal;
}

.textLink {
  margin-top: 10px;
  font-weight: bold;
}
