
.rowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-radius: 15px;
    background-color: #C3B7B1;
    height: fit-content;
    width: 95%;
    margin-left: 10px;

}

.rowEntry {
    width: 33.3%;
    color: #fafafa;
    font-family: 'Montserrat';
    font-size: 18px;
    
}


