.appContainer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-radius: 15px;
  height: 6vh;
  width: 95%;
  box-shadow: black 1px 1px 2.5px;
  background-color: #c3b7b1;
  margin-left: 10px;
}

.rowEntry {
  width: 30%;
  color: #fafafa;
  font-family: "Montserrat";
  font-size: 18px;
}


#link {

  text-decoration: none;
}


