.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-logo {

  height: 150px;
  width: 150px;
} 

.forgotPassword{
  text-align: center;
}

#header1, #header2 {
  font-family: 'Montserrat';
  font-size: 30px;

}
.login_error{
  font-size: 15px;
  color: red;
display: flex;
justify-content: center;
align-items: center;
margin-top: 15px;

}

.loginHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.emailContainer, .passwordContainer {

display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;

}

.emailLogin , .passwordLogin {
  background-color: #d5068d;
  color : #fafafa;
  padding-left: 5px;
  height: 40px;
  width: 300px;
  box-shadow: 5px 10px 18px #888888;
}

.emailContainer ::placeholder , .passwordContainer ::placeholder {

  color: #fafafa93;
  padding-right: 10px;
}

#footertext {

  font-family: 'Montserrat';
  color: #d5068d;
  font-weight: bold;
  font-size: 25px;
}


.registerFooter {

  display: flex;
  flex-direction: column;
  align-items:center;
}



.loginButtonContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

}

.loginButton {

  width: 300px;
  background-color: #fafafa;
  color: #d5068d;
  height: 50px;
  font-weight: bold;
  border : thin inset #ff01a2;
}

.loginButton:hover {

  background-color: #d5068d;
  color: #fafafa;
}

.forgotPassword {

  color: #d5068d;

}


.comeSaveLivesButton {

  width: 300px;
  background-color: #d5068d;
  color: #fafafa;
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}


#backArrowLogin {

  width: 80px;
  height: 100px;
  
}

#comeSaveLivesSpan {

  font-size: 25px;
  font-weight: bold;
}

