.pinkContainer {
  position: relative;
  font-size: 22px;
  background: transparent
    linear-gradient(
      27deg,
      #fbbae2 0%,
      #fbc5e5 13%,
      #fcd9eb 42%,
      #fce5ee 71%,
      #fdeaf0 100%
    )
    0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.welcome {
  height: 160px;
}

.illustration {
  height: 160px;
  position: absolute;
  left: 40px;
}

.welcomeTitle {
  margin-right: 10px;
  font-size: 40px;
  font-weight: 700;
  color: var(--donor-secondary);
  max-width: 60%;
  margin-top: 50px;
  line-height: 35px;

  position: relative;
  z-index: 10;
}

.welcomeText {
  font-size: 20px;
  font-weight: 400;
  color: var(--donor-secondary);
}

.appointmentDetails {
}

.card {
  background-color: white;
  border: 1px solid #dadee0;
  border-radius: 10px;
}

.detailsTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dadee0;
  padding: 15px;
  color: var(--donor-light-black);
}

.detailsText {
  margin-top: 15px;
  padding: 15px;
}

.detailLabel {
  font-size: 14px;
  line-height: 10px;
  color: var(--donor-gray);
}

.detailValue {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--donor-light-black);
}

.cancelButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cancelButtonColor {
  color: var(--donor-secondary);
  text-decoration: none;
}

.cancelIcon {
  height: 17px;
  margin-right: 8px;
}

.moreInfo {
  margin: 30px 40px 30px 40px;
  color: var(--donor-dark-gray);
}

.moreInfoTitle {
  font-weight: 500;
}
