.component {
  font-size: var(-/ -text-size-sm);
}

.textContainer {
  margin: 24px 16px 20px 16px;
  font-size: var(--text-size-sm);
}

.textBold {
  font-weight: var(--font-content-weight-bold);
}

.blood_bank_logo {
  height: 119px;
  width: 90px;
}
