.SideDrawer {
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 64px;
  width: 280px;
  max-width: 70%;
  height: 100%;
  z-index: 200;
  padding: 0 16px;
  background-color: white;

  border: 1px solid var(--color-secondary);

  transition: transform 0.3s ease-out;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(100%);
}
