div.addAppContainer {
    height: 80vh;
    width: 100vw;
    margin-top: 35px
}

.addAppContainer .addInputs {
    padding: 15px;
}

div.hospitalDate {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    margin: 15px;
    padding: 5px
}

div.typeSlots {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    margin: 15px;
    padding: 5px
}

div.add {
    margin: 10px;
}

.inputContainer {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.slots {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(199, 234, 175, 0.651);
}

.TextField {
    background-color: rgba(199, 234, 175, 0.651);
}

select.dropdown {
    width: 60%;
    background-color: rgba(199, 234, 175, 0.651);
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}

.msg {
    font-size: 12px;
}

.deleteBtn {
    color: white;
    padding: 10px;
}

.deleteBtn:hover {
    color: #d5068d;
    cursor: pointer;
}

.addBtn {
    background: rgba(199, 234, 175, 0.651);
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 10%;
    color: white;
    justify-content: center;
    transition: ease-out 0.3s;
}

.heading span {
    font-weight: 800;
}

.display {
    position: relative;
    font-size: 12px;
    min-height: 45VH;
}

.appList span {
    margin-right: 4%;
}