.addAppContainer {
  height: 80vh;
  width: 80vw;
  margin: auto;
  padding: 2px;
}

div.hospitalDate {
  direction: ltr !important;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-between;
  margin: 15px;
  padding: 5px;
}

div.typeSlots {
  direction: ltr !important;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-between;
  margin: 15px;
  padding: 5px;
}

div.Gran {
  direction: ltr !important;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-between;
  margin: 15px;
  padding: 5px;
}

div.add {
  margin: 10px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.slots {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
}

div.message {
  border-top: none;
  border-left: none;
  border-right: none;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(199, 234, 175, 0.651);
}

.TextField {
  background-color: rgba(199, 234, 175, 0.651);
}

select.dropdown {
  background-color: rgba(199, 234, 175, 0.651);
  border-radius: 4px;
  font-size: 14px;
  margin-right: 0px;
}

.msg {
  font-size: 12px;
}

.deleteBtn {
  color: white;
  padding: 10px;
}

.deleteBtn:hover {
  color: #d5068d;
  cursor: pointer;
}

.addBtn {
  background: rgba(199, 234, 175, 0.651);
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 10%;
  color: white;
  justify-content: center;
  transition: ease-out 0.3s;
}

.heading span {
  font-weight: 800;
}

.display {
  position: relative;
  font-size: 12px;
  min-height: 30vh;
}

.infoPagesAlign {
  text-align: start;
}
@media only screen and (max-width: 1024px) {
  div.addAppContainer {
    height: 80vh;
    width: 70vw;
    margin: auto;
    padding: 2px;
  }
  div.hospitalDate {
    direction: ltr !important;
    margin-top: 35px;
  }
  div.typeSlots {
    direction: ltr !important;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    margin: 15px;
    padding: 5px;
  }
  div.Gran {
    direction: ltr !important;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    margin: 15px;
    padding: 5px;
  }
}

@media only screen and (max-width: 800px) {
  div.addAppContainer {
    height: 80vh;
    width: 100vw;
    margin: auto;
    padding: 2px;
  }
  div.hospitalDate {
    direction: ltr !important;
    margin-top: 35px;
  }
  div.typeSlots {
    direction: ltr !important;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    margin: 15px;
    padding: 5px;
  }
  div.Gran {
    direction: ltr !important;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    margin: 15px;
    padding: 5px;
  }
}

@media only screen and (max-width: 380px) {
  div.addAppContainer {
    height: 80vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
  }
  div.hospitalDate {
    direction: ltr !important;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 25px;
    padding: 5px;
  }
  div.typeSlots {
    direction: ltr !important;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    margin: 15px;
    padding: 5px;
  }
  div.Gran {
    direction: ltr !important;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    margin: 15px;
    padding: 5px;
  }
  .Datepicker {
    width: 145px;
  }
  .react-datepicker-popper {
    width: 330px !important;
  }
  .TextField {
    width: 100px;
  }
}
