
.addAppContainer {

    height: 80VH;;
}
.inputContainer {

    display: flex;
    justify-content: center;
    font-size: 14px;
}

.slots {

    width: 15%;
    border-top: none;
    border-left: none;
    border-right: none;

}

input {
    border-top: none;
    border-left: none;
    border-right: none;

}

.dropdown {

    width: 65%;
    background-color: #C3B7B1;
    border-radius: 4px;
    font-size: 14px;


}


.addBtn {

    background: #C71585;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 10%;
    color: white;
    justify-content: center;
    transition: ease-out 0.3s;

 }



.heading span {

font-weight: 800;
}

.display {
    font-size: 12px;
    min-height: 30VH;
}


 .appList span {

    margin-right: 4%;
 }


 