.hospitalsList {
    width: 229px;
    background-color: #C3B7B1;
    border-radius: 4px;
    font-size: 14px;
}

.appointmentTypeList {
    width: 229px;
    background-color: #C3B7B1;
    border-radius: 4px;
    font-size: 14px;
}

.deleteTableHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    margin-top: 20px;
    width: 90vw;
    margin-left: 10px;
    border: 2px solid #c3b7b1;
    height: 6vh;
}

.deleteTableEntries {
    width: 10vw;
    font-weight: bold;
}

.deleteRowContainer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 15px;
    height: 6vh;
    width: 90vw;
    box-shadow: black 1px 1px 2.5px;
    background-color: #c3b7b1;
    margin-top: 10px;
    margin-left: 5px;
}

.deleteAppRow {
    width: 10vw;
    color: black;
    margin-top: 15px;
}

.ButtonsContainer {
    margin-top: 10px;
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
}

.DeleteButton {
    background-color: #C71585;
    color: #fafafa;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 10px 18px #888888;
}

.SaveButton {
    background-color: #DEB675;
    color: #fafafa;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 10px 18px #888888;
}

.editableInputsDB {
    background-color: #fafafa;
    border: none;
    width: 10vw;
    margin-top: 5px;
    height: 35px;
}

.DeleteButton:focus, .SaveButton:focus {
    outline: none;
}

.popup2-content {
    width: 40vw !important;
    min-height: 0% !important;
    background-color: #C3B7B1 !important;
}

.container>.content {
    width: 100%;
    padding: 10px 5px;
}

.container>.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.yesButton {
    background-color: #fafafa;
    color: black;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 10px 18px #888888;
}

.noButton {
    background-color: #DEB675;
    color: black;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 10px 18px #888888;
}



@media only screen and (min-width: 320px) {
    .deleteTableHeader {
        display: none
    }
    
    .deleteRowContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border: none;
        border-radius: 0px;
        margin-top: 0px;
        width: none;
        margin-left: 0px;
        background-color: #fafafa;
        box-shadow: none;
        margin-bottom: 150px;
        height: 25%;
    }

    
    .deleteAppRow {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        
      
    }

    .ButtonsContainerRow {

        width : 100%; 
        height: 20%;
    }  

    .editableInputsDB {

        background-color: #c3b7b1;
        border: none;
        width: 100%;
        margin-top: 5px;
        height: 20%;
        
    }
} 