.notificationTitle {

    margin-top: 10%;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.notificationOptions {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

.notifications {
    margin-top: 2%;
}

.comment {
    font-style: italic;
}

.form-check-label {
    margin-bottom: 3%;
}

.notifiedtext {
    margin-bottom: 4%;
}
.pinkBox {
border: solid pink 1px;
}