.notificationTitle {

    margin-top: 10%;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.notificationOptions {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.notificationOptionsRtl{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.notifications {
    margin-top: 2%;
}

.comment {
    font-style: italic;
}

.form-check-label {
    margin-right: 6%;
}

.notifiedtext {
    margin-bottom: 4%;
}
.pinkBox {
border: solid pink 1px;
}

#rtlNotifications{ 
    margin-left: 5%;
}

#ltrNotifications{
    text-align: start;
} 


.prefOptionContainer{
    justify-content: flex-start;
}


#ltrNotificationContainer{
    text-align: start;
}

#rtlNotificationContainer{
    text-align: start;
}