.form {
    display: inline-block;
    flex-direction: column;
    position: relative;
    text-align: center;  width: 60%;
    padding: 12px;
    border-radius: 10px;
    margin: 0px;
    opacity: 0.85;
    font-size: 18px;
    line-height: 20px;
    
  }
  


.registPart{
    color:black

}
.login{
  display: inline-block;
  flex-direction: column;
  position: relative;
  text-align: center;  width: 60%;
  padding: 12px;
  border-radius: 10px;
  margin: 0px;
  opacity: 0.85;
  font-size: 18px;
  line-height: 20px;
}
.loginbutt1{
  background-color: #DEB675;
 /* // background-color: #DEB675; */
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 10px;
  text-align: center;
}
.img{
  display: inline-block;
  flex-direction: column;
  position: relative;
  text-align: center;  width: 40%;
}
.loginbutt{
  background-color: #C71585;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 10px;
  text-align: center;
  width:30ex;


}
.Regist-form{
  float:initial; width:90px;
  display: inline-block;
  margin-right: 120px;

  
}
.input{ float:center; width:100px;}