.extendedSignup {
}

.infoText {
}

.subtitle {
  color: var(--color-primary);
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.infoTextBold {
  font-weight: bold;
}

.button {
  margin-top: 20px;
}

.bloodTypeButton {
  direction: ltr;
}

.signOut {
  text-align: center;
  margin-top: 20px;
}
