.extendedSignup {
}

.infoText {
  margin-bottom: 20px;
}

.infoTextBold {
  font-weight: bold;
}

.button {
  margin-top: 20px;
}

.bloodTypeButton {
  direction: ltr;
}

.signOut {
  text-align: center;
  margin-top: 20px;
}
