.subtitle {
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 10px;
}

.crucialInformation {
  margin-top: 60px;
}

.infoTextBold {
  font-weight: bold;
}

.button {
  margin-top: 20px;
}

.bloodTypeButton {
  direction: ltr;
}
