.popup1-content {
    margin-top: 120px !important;
    width: 85% !important;
    min-height: 70% !important;
}

.addressMenu {

    width: 60%;
}

.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -5px;
    top: -5px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }