.popup1-content {
    margin-top: 100px !important;
    width: 85% !important;
    min-height: 70% !important;
    background-color:#fafafa !important;
    border: solid 4px darkgrey !important;
    border-radius: 4px !important;
    color: grey !important;
    text-align: left !important;
    padding: 0% 8% !important;
}

.addressMenu {

    width: 100%;
    border: solid 2px #d5068d;
    background: #ffffff;
}

#hour, #min {

    width: 45%;
    height: 100%;
    border: none;
    background: #ffffff;
}

.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -5px;
    top: -5px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .time {


    border: solid 2px #d5068d;
    background: #ffffff;
    width: 50%;

  }

  .rideContainerRtl{
      text-align: right;
      direction: rtl;
  }