.listContainer {
    position: fixed;
    bottom: 0;
    background-color: #fafafa;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    height: 80px;
    margin-bottom: 0px;
    border-top: solid black 2px;
}

.iconContainer {
    list-style: none;
    cursor: pointer;
    transition: all 0.4s ease-in;
    outline: none;
    margin-top: 15px;
    margin-right: 50px;
}

.iconContainer li {

    display: inline-block;
}

.iconContainer:focus {
    outline: none;
}

.iconClicked:focus {
    border: solid 0.5px #c3b7b1;
    box-shadow: 3px 3px 5px #c3b7b1;
    border-radius: 35%;
    position: relative;
    animation: bottomBarEffect 0.6s ease-in;
    outline: none;
}

@keyframes bottomBarEffect {
    50% {
        transform: scale(0.9, 0.9);
        opacity: 1;
    }
    100% {
        transform: scale(100%, 100%);
        opacity: 0.1;
    }
}
