.Form {
  display: inline;
  flex-direction: column;
  position: relative;
  text-align: center;  width: 60%;
  padding: 12px;
  border-radius: 10px;
  margin: 0px;
  opacity: 0.85;
  font-size: 18px;
  line-height: 20px;

  }


label{
    display:inline;
}

.loginPage{

    width:411;
    height:730;
    text-align: center;
    margin: 20px;


}
.savelivestxt{
background: none;
border:none;
}